@import '_vars';
.tile{
    width: $tileSize;
    height: $tileSize;
    &--active{
        background-color: red;
    }
    &--head{
        background-color: blue;
    }
    &--award{
        background-color: yellow;
    }
}


.game-fields{
        display: inline-flex;
        flex-direction: column;
        border: 3px solid $colorFieldBorder;
    }
    
.game-row{
        display: inline-flex;
    }