@import '_vars';
.game{
    display: inline-flex;
    flex-direction: column;
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: -15px;
    }
    &__title {
        color: $colorTitle;
        font-family: $fontTitle;
        font-size: 96px;
        line-height: 1;
    }
    &__score {
        font-family: $fontRegular;
        font-size: 36px;
        &--points {
            font-size: 44px;
        }
        margin-bottom: 10px;
    }
    &__screen{
        position: relative;
    }
    &__state-screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($colorStartScreenBackground, .5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__message{
        margin-top: -25px;
        font-family: $fontRegular;
        font-size: 48px;
    }
    &__info{
        font-family: $fontRegular;
        font-size: 24px;
        text-align: center;
    }
}