$tileSize: 25px;

$fontTitle: 'Luckiest Guy', cursive;
$fontRegular: 'Saira', sans-serif;

//colors
$colorBackground: #18C734;
$colorFieldBorder: #0C801E;
$colorTitle: #000;
$colorStartScreenBackground: #25AB3B;
$colorSnake: black;